*{
    margin: 0;
    padding: 0;
}

:root{
    --dark-blue:hsl(227, 35%, 25%);
    --greyish-blue: hsl(225, 20%, 60%);
}

body{
    background-color: hsl(230, 100%, 99%);
    background-image: url(images/bg-pattern.svg);
    background-repeat: no-repeat;
    font-family: Manrope;
}

main{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header{
    text-align: center;
    position: relative;
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header h1{
    font-size: 1.25em;
    font-weight: 800;
    color: var(--dark-blue);
}
.header-text{
    color: hsl(225, 20%, 60%);
    font-size: 0.875em;
}

header img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.pricing-container{
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    color: var(--greyish-blue);
    min-height: 22.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.pricing-container h2{
    font-size: 0.75em;
}

.price-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-numb{
    font-size: 2em;
    font-weight: 800;
    color: var(--dark-blue);
    margin-right: 0.25em;
}

.select-time{
    font-size: 13px;
    display: flex;
    justify-content: space-around;
}

.price-input-container{
    position: relative;
    -webkit-appearance: none;
    height: .75em;
    border-radius: .375em;
    width: 90%;
    margin: 0 auto;
    background-color: hsl(224, 65%, 95%);
}

.price-input-full{
    background-color: hsl(174, 77%, 80%);
    position: absolute;
    width: 50%;
    height: .75em;
    border-radius: .375em;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
}

.pricing-container #price-input{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-appearance: none;
    height: .75em;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
}

.pricing-container #price-input::-webkit-slider-thumb{
    -webkit-appearance: none;
    opacity: 1;
    height: 3em;
    border-radius: 50%;
    width: 3em;
    background-color: hsl(174, 86%, 45%);
    background-image: url(images/icon-slider.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.pricing-container #price-input::-moz-range-thumb{
    -webkit-appearance: none;
    border: none;
    height: 3em;
    border-radius: 50%;
    width: 3em;
    background-color: hsl(174, 86%, 45%);
    background-image: url(images/icon-slider.svg);
    background-repeat: no-repeat;
    background-position: center;
}



.pricing-container #price-input::-moz-range-progress{
    position: absolute;
    content: "";
    height: .75em;
    border-radius: .375em;
    width: 100%;
    background-color: aqua;
    z-index: 1;
}



/* TOGGLE */
#toggle-checkbox{
    opacity: 0;
    position: absolute;
    left: -9000px;
    top: -9000px;
}

#toggle-checkbox + label{
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

#toggle-checkbox + label::before{
    content: "";
    width: 3em;
    height: 1.5em;
    border-radius: 0.75em;
    background-color: hsl(223, 50%, 87%);
}

#toggle-checkbox:focus + label::before{
    background-color: hsl(223, 50%, 70%);
}

#toggle-checkbox:hover + label::before{
    background-color: hsl(223, 50%, 87%);
}

#toggle-checkbox + label::after{
    content: "";
    width: 1.125em;
    height: 1.125em;
    border-radius: 0.75em;
    background-color: white;
    position: absolute;
    left: .25em;
    transition: 200ms ease-in-out;

}

#toggle-checkbox:checked + label::after{
    left: 1.70em;
}



.discount-text{
    display: none;
}